.room {
  max-height: 100vh;
  /*   height: 99.5%;
  overflow: hidden; */
  /*   height: 100%;
  overflow: hidden; */
}

.username {
  color: #fff;
  margin-right: 12px;
  font-size: 1.1rem;
}

.room-container {
  height: inherit;
  display: flex;
  background: #000;
  /*   height: 100%;
  overflow: hidden;
  @media (max-width: 440px) {
    > div {
      width: 100%;
    }
  } */
  /*   > div {
    border: 6px solid #fff;
    border-radius: 10px;
  } */
}

/* ::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: $bg-primary;
} */

.sidebar {
  /* display: none; */
  width: 25%;
  /*   overflow: auto; */
  h4 {
    text-align: center;
    margin: 14px 0;
    color: $cl-txt-secondary;
    font-weight: 400;
  }
  > div {
    width: 90%;
    margin: auto;
    div {
      @include xy;
      justify-content: start;
      background: #fff;
      padding: 6px 10px;
      border-radius: $br;
      margin-bottom: 10px;
      span {
        margin: 0 14px 0 0;
        text-transform: capitalize;
      }
    }
  }
}

.wrapper {
  width: 75%;
  height: 100%;

  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;

  /* display: none; */
  /*   width: 75%; */
  /*   width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between; */
}

.chat {
  flex: 1;
  position: relative;
  overflow-y: auto;

  /*   flex: 1;
  position: relative;
  overflow-y: auto;
  background: rgb(162, 15, 207);
  max-height: 100vh; */
}

.chat-container {
  height: 100%;
  padding: 25px 15px;
  overflow: scroll;
  overflow-x: hidden;

  /*   height: 100%;
  padding: 25px 15px;
  overflow: scroll;
  overflow-x: hidden; */

  /*   height: 100%; */
  /*   text-transform: lowercase;
    padding: 25px 15px;
    overflow: scroll;
    overflow-x: hidden; */

  /*   width: 100%;
  margin-bottom: 20px;
  height: 80%;
  overflow: scroll; */
  > div {
    display: flex;

    > div {
      position: relative;
    }
  }
  @media (min-width: 1200px) {
    height: 80%;
  }
  @media (max-width: 440px) {
    height: 80%;
    > div {
      padding: 0 16px;
    }
  }
}

.message-item {
  width: 95%;
  margin: auto;
}
.message {
  position: relative;
  overflow-wrap: break-word;
  white-space: pre-wrap;

  display: flex;
  align-items: center;
  margin: 15px 0;
  div + div {
    margin-left: 6px;
    p {
      max-width: 350px;
    }
    p + p {
      background-color: #fff;
      padding: 10px;
      border-radius: $br;
    }
  }
}

.username-chat {
  color: $cl-txt-secondary;
  font-size: 0.9rem;
}

.message-right {
  justify-content: end;
  margin-left: auto;
}

.message-left {
}

.input-container {
  background: rgb(233, 6, 6);
  display: flex;
  position: relative;
  height: 55px;

  /*   position: relative;
  bottom: 115px;
  height: 55px;
  width: 100%; */
  /*   background: #fff; */
  @include xy;
  input {
    width: 80%;
    border: 1.3px solid #edf0f5;
    padding: 8px;
    border-radius: $br;
    outline: none;
  }
  i {
    margin-left: 13px;
    background-color: $bg-primary;
    padding: 12px;
    border-radius: 12px;
    color: #fff;
    font-size: 22px;
  }
}
