.room {
  height: 100vh;
  max-height: 100vh;
}

.username {
  color: #fff;
  margin-right: 12px;
  font-size: 1.1rem;
}

.room-container {
  height: calc(100% - 60px);
  display: flex;
  @media (max-width: 440px) {
    > div {
      width: 100%;
    }
  }
  /*   > div {
    border: 6px solid #fff;
    border-radius: 10px;
  } */
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: $bg-primary;
}

.sidebar {
  /* display: none; */
  width: 25%;
  overflow: auto;
  border-right: 6px solid #fff;
  h4 {
    text-align: center;
    margin: 14px 0;
    color: $cl-txt-secondary;
    font-weight: 400;
  }
  > div {
    width: 90%;
    margin: auto;
    div {
      @include xy;
      justify-content: start;
      background: #fff;
      padding: 6px 10px;
      border-radius: $br;
      margin-bottom: 10px;
      span {
        margin: 0 14px 0 0;
        text-transform: capitalize;
      }
    }
  }
}

.wrapper {
  width: 75%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.chat {
  flex: 1;
  position: relative;
  overflow: auto;
  height: 100%;
}

.chat-container {
  height: 100%;
  padding: 25px 15px;
  overflow: auto;
  > div {
    width: 95%;
    margin: auto;
    display: flex;
  }
}

.message {
  position: relative;
  display: flex;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  align-items: center;
  margin: 15px 0;
  div + div {
    margin-left: 6px;
    p {
      max-width: 350px;
    }
    p + p {
      background-color: #fff;
      padding: 10px;
      border-radius: $br;
    }
  }
}

.username-chat {
  color: $cl-txt-secondary;
  font-size: 0.9rem;
  text-transform: capitalize;
}

.message-right {
  justify-content: end;
  margin-left: auto;
}

.message-left {
}

.input-container {
  display: flex;
  position: relative;
  height: 55px;
  width: 100%;
  @include xy;
  input {
    width: 80%;
    border: 1.3px solid #edf0f5;
    padding: 8px;
    border-radius: $br;
    outline: none;
  }
  i {
    margin-left: 13px;
    background-color: $bg-primary;
    padding: 12px;
    border-radius: 12px;
    color: #fff;
    font-size: 22px;
  }
}
