.home {
  h4 {
    margin: 20px 0;
    text-align: center;
    color: $cl-txt-title;
    font-size: 1.6rem;
    width: 100%;
  }
}

.title {
  background-color: $bg-primary;
  height: 60px;
  display: flex;
  padding: 0 20px;
  @include title;
  div {
    display: flex;
    @include xy;
    color: #fff;
  }
}

.title-icon {
  margin-right: auto;
  a {
    margin-right: 35px;
  }
  img {
    margin-right: 10px;
    height: 26px;
  }
}

.option-login {
  width: 85%;
  margin: auto;
  p {
    margin: 10px;
    font-size: 1.2rem;
    text-align: center;
  }
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-weight: 500;
      opacity: 0.8;
    }
    a {
      text-decoration: none;
      p {
        @include btn;
        width: 100px;
        margin: 20px;
        padding: 5px 0;
      }
    }
  }
}

.img-container {
  overflow: hidden;
  img {
    width: 150%;
    @media (max-width: 519px) {
      position: relative;
      bottom: -40%;
      right: -8%;
    }
  }
}

@media (min-width: 520px) {
  .container {
    overflow: auto;
  }
  .home-container {
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    @include xy;
    > div {
      width: 50%;
    }
  }

  .option-login {
    max-width: 400px;
  }

  .img-container {
    img {
      width: 95%;
      max-height: 400px;
    }
  }
}
