@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$font-txt-primary: "Roboto", sans-serif;
$font-txt-secondary: "Poppins", sans-serif;

$cl-title: #e1f4f3;
$cl-txt-title: #1a2f3b;
$cl-txt-primary: #1f1f1f;
$cl-txt-secondary: #01a38a;
$cl-txt-error: rgb(150, 6, 6);

$bg-font-primary: #128277;
$bg-font-secondary: #1a2f3b;
$bg-primary: #01a38a;
$bg-secondary: #edf0f5;
$bg-error: rgba(255, 0, 0, 0.342);
