@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap");

$font-txt-primary: "Roboto", sans-serif;
$font-txt-secondary: "'Recursive', sans-serif";

$cl-title: #e1f4f3;
$cl-txt-title: #1a2f3b;
$cl-txt-primary: #1f1f1f;
$cl-txt-secondary: #01a38a;
$cl-txt-error: rgb(150, 6, 6);

$bg-font-primary: #128277;
$bg-font-secondary: #1a2f3b;
$bg-primary: #01a38a;
$bg-secondary: #edf0f5;
$bg-error: rgba(255, 0, 0, 0.342);
